@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

body {
  background-color: #f1f1f1;
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("background.jpg");
  background-size: cover;
  font-family: Arial, sans-serif;
}

.left-panel {
  margin-left: 0px;
  background-color: #333;
  color: #fff;
  padding: 30px;
  width: 10vw;
  height: 92vh;
  display: flex;
  border-radius: 0;
  -ms-flex-direction: column;
  flex-direction: column;
  animation: slideIn 0.5s ease-in-out;
  opacity: 0.8;
}

.left-panel .menu-item {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s, opacity 0.3s;
  border-radius: 5px;
  font-size: 18px;
}

.left-panel .menu-item:hover {
  background-color: #555;
  opacity: 1;
}

.left-panel .menu-item.active {
  background-color: #555;
  opacity: 1;
}

.content.slide-out {
  animation-name: slideOut;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
}

.navbar {
  flex: 0 0 15%;
  background-color: transparent;
  color: #fff;
  padding: 20px;
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
}

.navbar button {
  height: 40px;
  width: 80px;
  font-size: 20px;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar li {
  margin-bottom: 10px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 20px;
}

.navbar a:hover {
  color: #ffcc00;
}

.content {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 0px;
  margin-right: 0px;
  margin-left: 0px;
  height: 94.5vh;
  animation: slideIn 0.5s ease-in-out;
}
